name: Build with RMPP Toolchain and Upload Releases

on:
  push:
    tags:
      - '*'

jobs:
  build:
    strategy:
      matrix:
        os: ["eeems/remarkable-toolchain:latest-rmpp", "eeems/remarkable-toolchain:latest-rm2"]
        include:
          - os: "eeems/remarkable-toolchain:latest-rmpp"
            arch: aarch64-unknown-linux-gnu
            zip_name: xovi-aarch64.tar.gz
            xovi_so_url: "https://github.com/asivery/xovi/releases/latest/download/xovi-aarch64.so"
          - os: "eeems/remarkable-toolchain:latest-rm2"
            arch: armv7-unknown-linux-gnueabihf
            zip_name: xovi-arm32.tar.gz
            xovi_so_url: "https://github.com/asivery/xovi/releases/latest/download/xovi-arm32.so"
    runs-on: ubuntu-latest

    container:
        image: ${{ matrix.os }}

    steps:
        - name: Checkout Code
          uses: actions/checkout@v3
          with:
            submodules: true

        - name: Build Application
          run: |
            curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs > install
            sh install -y
            . "$HOME/.cargo/env"
            rustup target add ${{ matrix.arch }}
            apt-get update
            apt-get install -y curl
            export XOVI_REPO=/tmp/xovi
            git clone https://github.com/asivery/xovi $XOVI_REPO
            bash -c ". /opt/codex/*/*/environment-setup-*; make"
            mkdir -p output/xovi/inactive-extensions
            find . -iname "*.so" -not -path "**/release/deps/**" -exec cp -v {} output/xovi/inactive-extensions \;
            mkdir -p output/xovi/{extensions.d,exthome,scripts,services}
            mkdir -p output/xovi/scripts/{debug,pre-start,post-start,pre-stock,post-stock}
            mkdir -p output/xovi/services/xochitl.service
            cp -r xovi-setup/* output/xovi/
            cd output/xovi
            curl -Lo xovi.so ${{ matrix.xovi_so_url }}
            mv inactive-extensions/qt-resource-rebuilder.so extensions.d/
            chmod a+x start debug stock rebuild_hashtable
            ln -s /home/root/xovi/extensions.d services/xochitl.service/extensions.d
            ln -s /home/root/xovi/exthome services/xochitl.service/exthome
            cd ..
            tar -czf ../${{ matrix.zip_name }} *

        - name: Upload Build Artifact
          uses: actions/upload-artifact@v4
          with:
            name: ${{ matrix.zip_name }}
            path: ${{ matrix.zip_name }}

  release:
    runs-on: ubuntu-latest
    needs: build
    steps:
        - name: Download Build Artifacts
          uses: actions/download-artifact@v4
          with:
            path: ./

        - name: Create Release
          uses: actions/create-release@v1
          id: create_release_step
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          with:
            draft: false
            prerelease: false
            release_name: ${{ github.event.release.tag_name }}
            tag_name: ${{ github.ref }}

        - name: Upload Release Assets
          uses: actions/upload-release-asset@v1
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          with:
            upload_url: ${{ steps.create_release_step.outputs.upload_url }}
            asset_path: xovi-aarch64.zip/xovi-aarch64.zip
            asset_name: xovi-aarch64.zip
            asset_content_type: application/octet-stream

        - name: Upload Release Assets (ARM32)
          uses: actions/upload-release-asset@v1
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          with:
            upload_url: ${{ steps.create_release_step.outputs.upload_url }}
            asset_path: xovi-arm32.zip/xovi-arm32.zip
            asset_name: xovi-arm32.zip
            asset_content_type: application/octet-stream
